.honda-header{
    background-color: #264653;
}
.btn-honda{
    background-color: #E76F51;
    border: none;
    padding: 10px 40px;
    border-radius: 5px;
}
.bike-img img{
    width: 100%;
}
.gray-img img{
    filter: grayscale(100%);
}