.honda-header{
    background-color: #264653;
}
.btn-honda{
    background-color: #E76F51;
    border: none;
    padding: 10px 40px;
    border-radius: 5px;
}
.bike-img img{
    width: 100%;
}
.gray-img img{
    filter: grayscale(100%);
}
.clints-img img{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #E76F51;
}
.fa-star.empty{
    color: #AEAEAE;
}
.text-faq{
    width: 250px;
    height: 250px;
}
    